.grid-container {
  position: relative;
  top: 12vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px auto;
  width: 80%;
}

.grid-container input {
  height: 50px;
  padding: 0 25px;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  gap: 30px;
  justify-content: center;
  margin-bottom: 5vh;
}

.grid_item {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border: 3px solid rgb(196, 176, 0);
  border-radius: 25px;
  padding: 30px;
  align-items: center;
  cursor: pointer;
  transition: all 1s;
  background-color: rgb(171, 213, 234);
  opacity: 0.8;
}

.grid_item:hover {
  scale: 105%;
}

.myimg {
  height: 30vh;
  @media only screen and (max-width: 600px) {
    height: 10vh;
  }
  width: 100%;
  position: relative;
}

.mytext {
  text-align: center;
}

.row-toolsBar {
  display: flex;
  width: 93%;
  background-color: rgb(171, 213, 234);
  opacity: 0.8;
  border-radius: 25px;
  padding: 15px;
  margin: auto;
  gap: 7%;
}

.selectContainer {
  width: 15%;
}

.select {
  width: 100%;
  background-color: transparent;
  border: 3px solid rgb(196, 176, 0);
  border-radius: 10px;
  padding: 3px;
  outline-width: 0;
}

.textfildContainer {
  width: 68%;
}

.textfild {
  width: 30%;
  transition: all 1s;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid rgb(196, 176, 0);
  outline-width: 0;
}

.textfild:hover {
  width: 100%;
}

.textfild:focus {
  width: 90%;
}
